$primary-color: #f5f2ff;



*{margin:0; padding:0}
html, body{
  height: 100%;
}
body {
  background-color: $primary-color;
}
button{
  background: transparent;
  border:0;
  cursor: pointer;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style:none;
  margin: 0;
}
a {  
  text-decoration: none;
  color:#333
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  header .inner, #contents, footer .inner{
    margin:0 auto;
    max-width:1280px;
  }
  #contents{
    flex:1;
  }
  footer{
    font-size:12px;
    .inner{
      height:40px;
    }
  }
  // 640px 이하
  @media (max-width: 640px) {
    header .inner{
      padding:0 15px;
      padding-bottom: 30px;
      height:40px;
      .all_menu{
        button{
          font-size:18px;
        }
      }
    }
    header .inner .gnb li.active a{
      background:transparent;
      color:#42b983;
      border:0;
      border-radius: 0;
    }
    .gnb{
      position: absolute;
      top: 37px;
      left: 0;
      right: 0;
      width: 100%;
      height: 30px;
      overflow: hidden;
      overflow-x: auto;
      justify-content: flex-start;
      align-items: center;
    }
    #contents .routerView {
      padding: 20px 15px !important;
    }
  }
}
