$primary-color: #f5f2ff;



*{margin:0; padding:0}
html, body{
  height: 100%;
}
body {
  background-color: $primary-color;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0;
}
a {  
  text-decoration: none;
  color:#333
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  header .inner, #contents, footer .inner{
    margin:0 auto;
    width:1280px;
  }
  #contents{
    flex:1;
  }
  footer{
    .inner{
      height:40px;
    }
  }
}